:root {
    --dark-grey: rgb(70, 70, 70);
    --grey: rgb(160, 160, 160);
    --light-gray: rgb(130, 130, 130);
}

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw; height: 100vh;
}

body {
    height: 100vh; width: 100vw;

    background-color: rgb(15, 15, 15);
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

li {
    list-style: none;
}

.content.show {
    opacity: 1;
}

.contents {
    width: 100vw; height: 100vh;

    pointer-events: none;
    user-select: none;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    display: block;
    width: 100vw; height: 100vh;
    margin: 0 auto;

    object-fit: contain;

    transition: opacity ease-in-out .5s;
}

.controls {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: -50px;
}

.series {
    position: relative;
    
    width: 10px; height: 10px;

    background: var(--dark-grey);
    border-radius: 50%;

    cursor: pointer;
}

.series:not(:first-child) {
    margin-left: 1.8vw;
}

.series:hover {
    background: var(--grey);
}

.active-btn {
    width: 15px; height: 15px;

    border-radius: 0;
    background: var(--light-gray);
}

@media screen and (max-width: 768px) {
    .series {
      width: 30px; height: 30px;
      justify-content: space-between;
      margin-top: -70px;
    }

    .series:not(:first-child) {
        margin-left: 3vw;
    }
}